obj/Debug/TestJSONWebClient.csprojResolveAssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/TempPE/DataSet1.Designer.cs.dll
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/TestJSONWebClient.csproj.FileListAbsolute.txt
bin/Debug/TestJSONWebClient.vshost.exe
bin/Debug/TestJSONWebClient.vshost.exe.config
bin/Debug/TestJSONWebClient.vshost.exe.manifest
PlatformStats.csproj
PlatformStats.csproj.user
Properties/AssemblyInfo.cs
bin/Debug/Config.txt
App.config
bin/Debug/mysql.data.entity.dll
bin/Debug/mysql.visualstudio.dll
bin/Debug/mysql.web.dll
